.dashboard1sec1{  
    margin-top: -80px;
}
.pageheight {
    height: 100vh;
}
.fluidgap {
       padding: 0px 100px !important;
}
.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashpageOneBox{
    background: white;
    
}
.right-pills {
    display: flex;
    justify-content: end;
}
.fixedWidthContainer .container {
    width: 1000px !important;
}
.profileDetails .profileSignle {
  
padding: 25px;
 
}
.builderDetails .profileSignle {
  
padding: 25px;
 
}
.dashboardPageSeven .profileSignle{
    margin: 0px 25px;
    padding: 25px 0px;
 border-bottom: 3px solid grey;
}
.dashboardPageSeven .profileSignle:last-child{
 
 border-bottom: none;
}

.profileSignle .form-control{
    text-align: right;
    border: none;
}
.profileSignle .input-group span {
    border: none;
    background: white;
}