.dashboard1sec1{  
    margin-top: -80px;
}
.pageheight {
    height: 100vh;
}
.fluidgap {
       padding: 0px 100px !important;
}
.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashpageOneBox{
    background: white;
    
}
.right-pills {
    display: flex;
    justify-content: end;
}
.fixedWidthContainer .container {
    width: 1000px !important;
}
.profileDetails .profileSignle {
    background: white;

 
}