#section1Home{
       background: rgb(255,255,255);
    background: linear-gradient(172deg, rgb(83 249 255) 8%, rgb(255 255 255) 61%, rgb(80 172 221) 100%);
/*height: 100vh;*/
    margin-top: -80px;
}
.secContent {
    height: 100vh;
}