/* section one  */
.section1Homeheight {
    height: 115vh;
}

.section1 {
    background-position: center 80%;
    background-size: cover;

}

.section1Home {
    background-repeat: no-repeat !important;
    background-position: 5% bottom, right bottom !important;
    background-size: 330px, 800px !important;
    margin-top: -90px;
}

.section1Home h1 {

    font-weight: 500;
    color: white;
}





.buttonSubTextCancel {
    color: #777E82;
}

.section1Home .textbewlowmark {
    text-align: right;
}

/*section 2*/
/*section 2*/

.section2 {
    margin-top: -70px;
}

.section2Home {
    -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
    background: #FFBD59;
}

.section2HomeHeight {
    min-height: 1000px;
}

.section2Home .content h2 {
    color: white;
    font-size: 35px;
}

/*
.secContent {
    height: 100vh;
}
*/

.seconeMobile img {
    width: 325px;
    position: absolute;
    bottom: 0px;
    left: 100px;
}

.seconeHouse img {
    width: 700px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* section there  */
/* section there  */
/* section there  */
#pills_four .owl-carousel .owl-item .tabInsidecontent h3 {
    display: inline-flex;
    width: 100%;
}
.tabContentTopPadding {
    padding-top: 70px;
}
.tabInsidecontent h3 {
   color: #FFBD59; 
    
}
.tabInsidecontent p {
    font-size: 20px;
}
.tabInsidecontent .tabInsideContentButton a {
    font-size: 20px;
    padding: 0;
       color: #FFBD59; 
}
.section3pillsInsideContentIcon img{
     filter: brightness(0) saturate(100%) invert(82%) sepia(77%) saturate(649%) hue-rotate(314deg) brightness(100%) contrast(102%);
    height: 30px;
    width: 30px;
}
.nav-pills li.nav-item .nav-link.active .titleboxSVG img{ 
filter: brightness(0) saturate(100%) invert(82%) sepia(77%) saturate(649%) hue-rotate(314deg) brightness(100%) contrast(102%);
}
.nav-pills li.nav-item .nav-link{
  box-shadow: 1px 1px 2px 2px rgba(215,215,215,1);
-webkit-box-shadow: 1px 1px 2px 2px  rgba(215,215,215,1);
-moz-box-shadow: 1px 1px 2px 2px  rgba(215,215,215,1);
    background: transparent;
    margin: 7px;
    border-radius: 0px;
}
.nav-pills li.nav-item .nav-link:hover{
  box-shadow: 1px 1px 2px 2px rgba(255,189,89,1);
-webkit-box-shadow: 1px 1px 2px 2px  rgba(255,189,89,1);
-moz-box-shadow: 1px 1px 2px 2px  rgba(255,189,89,1);
  
}
.nav-pills li.nav-item .nav-link:hover .titleboxSVG img{
 filter: brightness(0) saturate(100%) invert(82%) sepia(77%) saturate(649%) hue-rotate(314deg) brightness(100%) contrast(102%);
  
}

.section3 .section3Height {
    min-height:  750px;
}


.section3 .titleboxSVG img {
    height: 45px;
    width: 30px;
    cursor: pointer;
/*    transition: .3s;*/
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);*/
}

.section3 .titleboxSVG img:hover {
 
    cursor: pointer;
/*    filter: brightness(0) saturate(100%) invert(82%) sepia(77%) saturate(649%) hue-rotate(314deg) brightness(100%) contrast(102%);*/
}

.sectionThree li.nav-item .nav-link svg {
    fill: black;
}

.center-pills {
    display: flex;
    justify-content: center;
}

.owl-nav {
    text-align: center;
    ;
}
/*section four */
/*section four */
/*section four */
.section4 {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    background: #FFBD59;
}
.section4HomeHeight {
    height: 350px;
}
#owl2 .owl-item img {
    height: 60px;
}

#owl2 .owl-nav {
    display: none;
}

/*section 5 */
.section5 {
     background: #FFBD59;
    margin-top: -5px;
}

.section5HomeHeight {
    min-height: 300px;
}
.widthSecHome5left {
margin-left: 100px;
    
}
.widthSecHome5left h3 {
    color: white;
}
.widthSecHome5Right {
width: 425px;
    
}
.widthSecHome5Right p{
font-size: 20px;
    
}
.widthSecHome5Right .widthSecHome5RightButton button{
background: white;
    border: none;
    border-radius: 0px;
    
    height: 50px;
    color: #FFBD59;
}

/*section six*/
/*section six*/
.section6 {
    background: #FFBD59;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    margin-top: -5px;
}
/*section 7*/
/*section 7*/
/*section 7*/
.section7Hometitle {
   color: #FFBD59; 
}

/*section8*/
/*section8*/
/*section8*/

.section8HomeHeight {
    height: 480px;
    
}
.section8 {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    background:#FFBD59; 
}

/*section 9*/
/*section 9*/
/*section 9*/

.section9 {
      background:#FFBD59;
   
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    margin-top: -5px;
}