/* section one  */
#section1Home {

    background: linear-gradient(180deg, #6fc9fb 8%, #6fc9fb 61%, rgb(255 255 255) 100%);
    /* height: 100vh; */
    margin-top: -80px;


}

.secContent {
    height: 100vh;
}

.seconeMobile img {
    width: 325px;
    position: absolute;
    bottom: 0px;
    left: 100px;
}

.seconeHouse img {
    width: 700px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* section there  */
.sectionThree li.nav-item .nav-link svg{
    fill:black;
}
.center-pills {
    display: flex;
    justify-content: center;
}
.owl-nav {
    text-align: center;;
}

#owl2 .owl-item img{
 height: 50px;   
}

#owl2 .owl-nav{
display: none;
}
/*section 5 */
.widthSecHome5{
    width: 450px;
}
/*section six*/
.section6Home img{
    border-radius: 5px;
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}